

.bgcolor{
  position: absolute;
  width:100%;
  height: 100%;
  white-space: nowrap;
  max-height:78px;
  background:transparent; 
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


/*wrapper*/
.wrapper{
  position:absolute;
  top:0;
  right:0;
  left:0;
  overflow: hidden;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

#top{
  background-color: #DFDFDF;
  position: relative;
}

.topimg-area, .topimg-area img{
  height: 90%;
  position: relative;
}

.topimg-area{
  height:550px;
}

.topimg-area img{
  left:50%;
  transform: translate(-50%, 0%); 
}

.title-btn{
  color:#404040;
}

.quotes {display: none;}


.topimg-txt{
 position: absolute; 
 float:left;
 top:50%;
 left:50%;
 font-size: 65px;
 text-align: center;
 color: white;
 transform: translate(-50%, -50%); 
}


.lg-txt-bos{
 color: white; 
}


.title{
  background: rgba(0,0,0,0);
  font-size: 20px;
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}


.c-max, .title, ._nav-text, .title-name{
  padding: 0 24px;
  margin:0 auto;
  max-width: 1100px;
  width: 100%;
  overflow: hidden;
}


.c-max, .section-area, #footer{
  position: relative;
}


.title .title-left{
  padding-left: 72px;
}


.section-area{
  padding-bottom:100px;
}


#footer{

}

.g-1-1{
  width: 49.9%;/*
  width: 550px;*/
  margin-left: -5px;
  border: 1px solid #ebebeb;
}
.g-1-2, .g-1-3, .g-1-4{
  width: 49%;
}

.g-1-5{
  width: 33.1%;
}

.outter-box{
  margin-left: 1px;
}

.k-1-1{
  width: 50%;
  float:left;
  display: block;
}

.g-column, .spec-left, .spec-right {
  display: inline-block;
  vertical-align: top;
  padding: 0; 
  box-sizing: border-box;
}


.g-row .g-1-1 .inner-box{
  height: 350px;
  width: 100%;
/*  background-color:  #f1f1f1;
*/}

.g-row .g-1-2 .inner-box{
  height: 90%;
  width: 100%;
}

.g-row .g-1-3 .inner-box{
  height: 90%;
  width: 90%;
}

.g-row .g-1-4 .inner-box{
  height: 90%;
  width: 100%;
}

.g-row .g-1-5 .inner-box{
  height: 90%;
  width: 100%;
}

.p-one{
  font-weight: 500;
}

.p-txt{
  margin-top: 10px;
  font-weight: 300;
}

span{
  font-weight: 400 !important;
  line-height: 12px !important;
}

.q-left, .q-right{
  float:left;
  margin-right: 40px;
  margin-bottom: 20px;
}

.process-left 
{
  width: 90%;
  height: 90%;
  margin: auto;
}
.process-left 
{
  position:relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
.process-right{
  width: 90%;
  height: 90%;
  margin: auto;
  left:0;

}
.process-left img, 
.process-right img
{
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.description-left, 
.description-right
{
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 78%;
  height: 70%;
  display: table;
}


.flex{
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spec-left{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-right: 10px;
  width: 100px;
}

.spec-right{
  font-weight: 300;
}


.title-name{
 font-size: 29px;
 text-align: left;
 color: #404040;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 60px;
}

.sub-cat .title-name{
 font-size: 20px;
}

.sub-left{
  width: 78%;
  font-size: 22px;
  text-align: left;
  color: #404040;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 60px;
}

.d-max{
  position:absolute;
  top:50px;
  left:0;
  width: 100%;
  padding: 0 24px;
  margin:0 auto;
  max-width: 1160px;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0%);
}

#video{

}
.video-area{
  position:relative;
  width:70%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.img-over{
  font-size:22px;
  margin:0 90px;
  font-weight: 600;
}

.inner-txt, .spec, .website, .sub-left{
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.links{
  width: 100%;
  height: 50px;
}

.website, .website1{
  text-align: center;
  width: 40%;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #404040;
  float:left;
  margin-right:8px;
  text-decoration: none;
  color: #404040;
}




#concept{
  background-color: #F9F9F9;
  padding-bottom: 20px;
}

.centering{
  max-width: 980px !important;
}

.concept-cat{
  position:relative;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);*/
  margin: 0 auto;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size:45px;
  line-height: 52px;
  font-weight: 300;
  color: #EC5E30;
  margin: 50px 0;
}

.inner-txt{
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: #404040;
  font-weight: 300;
}
.g-row .g-1-1 .inner-txt{
  font-weight: 400;
}
.catch-left{
  font-size:30px;
  line-height: 38px;
}

.catch-right{
  font-size: 15px;
  line-height: 152%;
  font-weight: 300;
}

.brief-right{
  width: 89%;
}


.concept-txt{
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #ec5e30;
}

.logo img, .nav-logo img{  
  width: 32px;
  height: 32px;
  float: left;
  margin-top: 0px;
  margin-right: 6px;
}

.nav-logo img{  

  margin-top: -3px;
  margin-right: 6px;
}

span.lab{
  font-weight: 300;
  font-size: 23;
}  


.website, .website1{
  text-align: center;
  width: 40%;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #404040;
  float:left;
  margin-right:8px;
}
.website, .website1{
  position:relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.links{
  position:relative;
  transform: translate(0%, 0%);
/*  transform: translate(-15%, 0%);*/
}
.award{
   position:absolute;
   top:4%;
   right:6%;
   font-size: 14px;
   font-weight: 500;
}

.vimeo{
    position:relative;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, 0%);
}

.thumb img{
  width: 150px;
  height: 150px;
  position:relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}


.badge{
  position:absolute;
  right:0;
  bottom: 0;
  font-size: 0px;
/*  padding-top: 25px;
  padding-left: 2px;*/
  opacity: 1;
/*  color: #404040;*/

    /* Safari */
  -webkit-transform: rotate(-180deg);

  /* Firefox */
  -moz-transform: rotate(-180deg);

  /* IE */
  -ms-transform: rotate(-180deg);

  /* Opera */
  -o-transform: rotate(-180deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.badge-back{
  width: 0;
  height: 0;
  border-top: 40px solid #282828;
  border-right: 40px solid transparent;
}

#design.section-area{
 background-color: #ffffff;
}

.sub-cat img{
  width:100%;
  max-width: 980px;
  position:relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 10px 0px;
}

.press-img img{
  width:100%;
}

/*pagination*/
.pagination-con{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.prev, .next{
  width:40px;
  height:40px;
  background:transparent;
  float: left;
  color: white;
/*  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;*/
}
.prev.active, .next.active{
  background: black;
  opacity: 0.85;
}

.prev:hover, .next:hover{
  opacity: 0.3;
}


.fa img{
  width:25px;
  height:25px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


/*space*/

.l-apple-box {
  height: 20px;
}
.l-apple-box--half {
  height: 10px;
}
.l-apple-box-multiple{
  height: 40px;
}





/*credit*/


.btn{
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 13px;
    border: 1px solid white;
    padding: 8px 38px;
    text-transform: uppercase;
    text-align: center;
    width: 120px;
}

.clearing {
  clear: both !important;
}

br.clearing {
    clear:both !important;
}

/*
#about{
  padding-right: 20px;
}*/


#footer {
 color:white;
 font-size: 14px;
 font-family: "Rajdhani" , sans-serif;
}

.footer-color{
  position: absolute;
  width:100%;
  height:150px;
  bottom: 0;
/*  white-space: nowrap;*/
/*  background-color: #FCFCFC;*/
  background-color: #FFFFFF;
}

.footer-section{

}

.k-1-1{
  height: 300px;
}

.f-1-1{
  height: 100px;
}
.profile-info{
  height: 160px;
}

.copyright{
  width: 100%;
  color: #555555;
  position: absolute;
  left:50%;
  bottom: 30%;
  transform: translate(-50% , 0);
  font-size: 13px;
  text-align: center;
}

.profile, .sns{
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
}

.photo, .photo img{
  width:160px;
  height:160px;
  float:left;
}

.photo img{
  border-radius: 50%;
}

.name,.download{
  margin-left:180px; 
}


.name{
  padding-top: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
}

.divid{
  color:black;
}

.linkedin,
.behance,
.fb,
.twitter,
.medium,
.github,
.tumblr,
.email,
.divid
{
  float:left;
/*  background-color: white;*/
  /*width: 47px;*/
  height: 47px;
  border-radius: 50%;
  margin-right: 14px;
}

.linkedin img,
.behance img,
.medium img,
.fb img,
.twitter img,
.github img,
.tumblr img,
.email img
{
  position: relative;
  width: 24px;
  height: 24px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

}

a {
    text-decoration: none;
    transition: 0.4s all;
    color: black;
}

a:hover {
    text-decoration: none;
    opacity:0.5;
}


@media screen and (max-width:1064px) {
      .topimg-area{
         width: 100%;
         height: 200px;
         padding:0;
         margin:0;
         position: relative;
      }
      .m-1-1, .k-1-1 {
         width: 100%;
         height: 250px;
      }
      .g-1-1, .g-1-2, .g-1-3, .g-1-4{
         position: relative;
         width: 93%;
         margin-left: 0px;
         left:50%;
         transform: translate(-50%, 0%);
      }
      .g-row .g-1-1 .inner-txt{
         height: 430px;
         font-size: 17px;
         line-height: 26px;
      }
      .p-txt{
         margin-top: 10px;
         font-weight: 300;
      }
      .catch-right{
         font-size: 16px;
         line-height: 24px;
      }
      .process-right{
         width: 87%;
         height: 90%;
         margin: auto;
      }
      .sub-left{
         margin-top: 20px;
      }
      .outter-box{
         margin-bottom: -2.5px;
      }
      .title-name{
        font-size: 23px;
      }
      .section-area{
        padding-bottom: 70px;
      }

      .l-apple-box {
        height: 7px;
      }
      .sub-left, .img-over{
        font-size: 20px;
      }
      .img-over{
        margin:0 55px;
      }
      .d-max{
        top:20px;
      }
      .title-name{
        font-size: 22px;
      }

      .profile, .sns{
         padding: 0 25px;
      }

      .linkedin,
      .behance,
      .fb,
      .twitter,
      .medium,
      .github,
      .tumblr,
      .email,
      .divid
      {
        height: 5px;
        margin-right: 6px;
      }

      .spec-left, .spec-right{
        width: 45%;
      }
      .c-max, .title{
         padding: 0;
         width: 100%;
         overflow: hidden;
      }
      ._nav-item{
        display: none;
      }

      .sub-cat img{
       max-width: 290px;

      }   

      .website, .website1{
        width: 60%;
      }


      .quotes:nth-child(1), .quotes:nth-child(4){
        visibility: hidden;
      }
      .quotes:nth-child(1):before, .quotes:nth-child(4):before{
        visibility: visible;
        display: block;
        position: absolute;
        right:0;
      }
      .quotes:nth-child(1):before{
        content: "*** RAW DATA by Steven Heller";
      }
      .quotes:nth-child(4):before{
        content: "*** Information Aesthetics";
      }

}
