#top{
  background-color: #EEEEEE;
  position: relative;
}
.topimg-area, .topimg-area img{
  height: 100%;
  position: relative;
}
.topimg-area{
  height:486px;
}
.topimg-area img{
  left:50%;
  transform: translate(-50%, 0%); 
}
.video{
  height: 486px;
}
.video-bg{
  position:relative;
  width:60%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.g-row .g-1-1 .inner-box{
  height: 250px;
  width: 100%;
/*  background-color:  #f1f1f1;
*/}
.description-left, 
.description-right
{
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 78%;
  /* height: 70%; */
  display: table;
}
